
  .ace_editor {
    border: 1px solid blue;
    height: 400px;
    width: 100%;
  }
  .scrollmargin {
    height: 80px;
        text-align: left;
  }

  html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 90%;
  }

  #page-wrapper {
    width: 600px;
    background: #FFF;
    padding: 1em;
    margin: 1em auto;
    min-height: 300px;
    border-top: 5px solid #69c773;
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
  }

  h1 {
  	margin-top: 0;
  }

  img {
    max-width: 100%;
  }

  #fileDisplayArea {
    margin-top: 2em;
    width: 100%;
    overflow-x: auto;
  }

  .flex-container {
  display: flex;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
