# mappen en bestanden die niet meedoen
.DS_Store
dynload/
parsing/
zzzold
vb\ component
automaat/oldstuff/
pdautomaat/oldstuff/
parser/oldstuff/
ijvm/oldstuff/
turing/oldstuff/
pyodideshell/oldstuff/
automaat/.DS_Store
ijvm/.DS_Store
parser/.DS_Store
pdautomaat/.DS_Store
pyodideshell/.DS_Store
turing/.DS_Store